/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define DEFAULT 0
#define WIN     1
#define GAME    2
#define SYM     3
#define NUM     4
#define FUN     5

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define KEYS_L   \
     0  1  2  3  4  5    \
    12 13 14 15 16 17    \
    24 25 26 27 28 29    \
#define KEYS_R  \
     6  7  8  9 10 11 \
    18 19 20 21 22 23 \
    30 31 32 33 34 35 \
#define THUMBS_L  \
    36 37 38
#define THUMBS_R \
    39 40 41

&lt {
    quick-tap-ms = <175>;
    flavor = "balanced";
};

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE MINUS>; };

&sl { release-after-ms = <400>; };

/ {
    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bkdel: back_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACK_DELETE";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        shtl: shift_tap_left {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_TAP_LEFT";
            flavor = "balanced";
            hold-trigger-key-positions = <36 37 38 39 40 41 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35>;
            hold-trigger-on-release;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        shtr: shift_tap_right {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            label = "SHIFT_TAP_RIGHT";
            hold-trigger-key-positions = <36 37 38 39 40 41 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29>;
            hold-trigger-on-release;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        hml: home_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_MOD_LEFT";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <210>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <36 37 38 39 40 41 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: home_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_MOD_RIGHT";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <210>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <36 37 38 39 40 41 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "MAC";
            bindings = <
&kp ESCAPE      &kp Q              &kp W            &kp F            &kp P               &kp B        &kp J    &kp L                &kp U             &kp Y             &kp SEMI              &kp DEL
&kp LEFT_SHIFT  &hml LEFT_SHIFT A  &hml LEFT_ALT R  &hml LEFT_GUI S  &shtl LEFT_SHIFT T  &kp G        &kp M    &shtr RIGHT_SHIFT N  &hmr RIGHT_GUI E  &hmr RIGHT_ALT I  &hmr RIGHT_CONTROL O  &kp RIGHT_CONTROL
&kp LEFT_GUI    &kp Z              &kp X            &kp C            &kp D               &kp V        &kp K    &kp H                &kp COMMA         &kp DOT           &kp FSLH              &caps_word
                                                    &mo 3            &kp BACKSPACE       &kp SPACE    &kp RET  &kp TAB              &mo 4
            >;
        };

        windows_layer {
            bindings = <
&trans            &trans           &trans  &trans               &trans  &trans    &trans  &trans  &trans                &trans  &trans            &trans
&trans            &hml LEFT_GUI A  &trans  &hml LEFT_CONTROL S  &trans  &trans    &trans  &trans  &hmr RIGHT_CONTROL E  &trans  &hmr RIGHT_GUI O  &kp RIGHT_GUI
&kp LEFT_CONTROL  &trans           &trans  &trans               &trans  &trans    &trans  &trans  &trans                &trans  &trans            &trans
                                           &trans               &trans  &trans    &trans  &trans  &trans
            >;

            label = "WIN";
        };

        game_layer {
            display-name = "GAME";
            bindings = <
&trans            &kp Q  &kp W  &kp E  &kp R    &kp T     &kp Y   &kp U          &kp I      &kp O    &kp P     &trans
&trans            &kp A  &kp S  &kp D  &kp F    &kp G     &kp H   &kp J          &kp K      &kp L    &kp SEMI  &kp RIGHT_GUI
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C  &kp V    &kp B     &kp N   &kp M          &kp COMMA  &kp DOT  &kp FSLH  &trans
                                &mo 4  &kp TAB  &trans    &trans  &kp BACKSPACE  &mo 3
            >;
        };

        symbol_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "SYM";
            bindings = <
&trans  &kp GRAVE        &kp LESS_THAN  &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp CARET    &kp AT_SIGN  &kp SINGLE_QUOTE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT    &trans
&trans  &kp EXCLAMATION  &kp MINUS      &kp PLUS          &kp EQUAL          &kp AMPS     &kp POUND    &kp COLON         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMI       &trans
&trans  &kp TILDE        &kp PERIOD     &kp SLASH         &kp ASTRK          &kp PIPE     &kp DOLLAR   &kp UNDER         &kp LBRC              &kp RBRC               &kp BACKSLASH  &trans
                                        &trans            &trans             &trans       &trans       &trans            &mo 5
            >;
        };

        number_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "NUM";
            bindings = <
&trans  &kp N1    &kp N2        &kp N3     &kp N4     &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0     &trans
&trans  &kp LEFT  &kp UP_ARROW  &kp DOWN   &kp RIGHT  &none     &none   &kp N4  &kp N5  &kp N6  &kp DOT    &trans
&trans  &kp HOME  &kp PG_UP     &kp PG_DN  &kp END    &none     &kp N0  &kp N1  &kp N2  &kp N3  &kp MINUS  &trans
                                &mo 5      &trans     &trans    &trans  &trans  &trans
            >;
        };

        function_layer {
            bindings = <
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &tog 2    &none   &none   &none   &none  &out OUT_TOG  &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &tog 1    &none   &none   &none   &none  &bt BT_NXT    &trans
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &none     &none   &none   &none   &none  &bt BT_CLR    &trans
                         &trans   &trans   &trans    &trans  &trans  &trans
            >;

            label = "FUN";
        };
    };
};
